# Configurações do Servidor
PORT=3001

BATCH_SIZE=10
BATCH_INTERVAL_MS=10

# Intervalo entre chamadas (5000ms = 5 segundos de intervalo entre disparos)
WORKER_DELAY_BETWEEN_CALLS_MS=5000
MAX_CONCURRENT_CALLS=10

# Configurações VAPI.ai
VAPI_API_KEY=332987f4-f832-4542-9fd0-76de02bde971
VAPI_ASSISTANT_ID=6bd55e19-6358-41b2-bbbb-df097143df92
VAPI_PHONE_NUMBER_ID=992eb80b-c46a-4d61-9087-37ec21c22333

# Configurações Retell AI
DIALER_PROVIDER="retell"
RETELL_API_KEY="key_a5dbdb38e3718d2aaa70862d1ad8"
RETELL_AGENT_ID="agent_a48bf93903981faa827f4a8261"
RETELL_FROM_NUMBER="551153301578"

# Configurações de Comunicação (SMS / RCS)
SMART_RCS_API_KEY="8DD74B20-D556-494E-A6C1-216FCA7796EC"
SMART_RCS_API_URL="https://developer.smartrcs.com.br/api/Message/text"
SMART_RCS_SENDER="rcs_grupoddm"

APP_BASE_URL=https://verolembrete.grupoddm.ia.br
LOCAWEB_FROM=verointernet@grupoddm.com.br
